@media (max-width: 1720px) {

    .two-ways__laser,
    .two-ways__supplement {
        padding-left: 0;
        padding-right: 0;
    }

    .founder {
        background-position: 50% center;
    }
}

@media (max-width: 1300px) {
    :root {
        font-size: 1em;
    }

    .nav {
        flex-direction: column;
    }

    .nav .logo {
        order: 1;
        margin-bottom: 1em;
    }

    .nav .nav__list {
        order: 2;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }
    .founder-wrapper {
        margin-right: 0;
    }

    .brands-reviews__item {
        margin: 0 1.5em;
    }

    .slick-track {
        margin-left: 0;
    }

    .form .form__input {
        min-width: 0;
        max-width: 16.25em;
    }

    .footer-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .footer-column--email {
        
        margin: 0 auto;
        text-align: center;
    }

    .socials {
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .header__title {
        font-size: 2.8em;
        text-align: center;
    }

    .two-ways__wrapper {
        display: block;
        // margin-top: 2.5em;
    }

    .two-ways__laser,
    .two-ways__supplement { 
        width: initial;
        margin: 1em auto;
        background-position: left center;
    }

    .quest__img {
        max-width: 100%;
    }

    .innovation {
        background-position: 60% 50%;
        padding: 10em 0;
    }

    .innovation__buttons {
        flex-direction: column;

    }

    .founder {
        background-position: 15% center;
    }

    
    .founder__link,
    .founder__text,
    .founder__title {
        background-color: #d4caca9f;
        padding: 0.5em;
        border-radius: 4px;
    }
    
    .footer-wrapper {
        gap: 2.5em;
        text-align: center;
    }
}


@media (max-width: 510px) {

    .nav {
        flex-direction: row;
        align-items: center;
    }

    .nav .logo {
        margin-bottom: 0;
    }

    .nav .nav__list {
        display: none;
    }

    .header {
        height: 100vh;
    }

    .burger-menu {
        display: block;
        order: 2;
        position: relative;
        z-index: 2;
    }

    .nav .navlist-active {
        transition: all 0.5s;
        transform: translateY(52%);
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        position: absolute;
        background-color: #fff;
        padding-top: 15em;
        left: 0;
        right: 0;
        gap: 3em;
        height: 100vh;
    }

    .header__content-list {
        flex-direction: column;
    }

    .two-ways__wrapper {
        margin-top: 2.5em;
    }
    
}